[submodule "themes/herring-cove"]
	path = themes/herring-cove
	url = git@github.com:spf13/herring-cove.git
[submodule "themes/github-project-landing-page"]
	path = themes/github-project-landing-page
	url = git@github.com:drewwells/github-project-landing-page.git
