.circular {
  margin: 20px auto;
}
.landing-description{
  margin-top: 20px;
}
.button-frame {
  margin: 20px 0;
}

.embed-frame {
  margin: 20px;
}

.embed-title {
  font-size: 24px;
  text-align: center;
}
